<launch>
    <!--<group ns="/sam/perception/csi_cam_0/camera/">-->
        <!--<param name="calibration_file" type="string"-->
            <!--value="$(find lolo_perception)/camera_calibration_data/csi_cam_0.yaml"/>-->
        <!--<param name="camera_link_id" type="string"-->
            <!--value="/sam/camera_down_link"/>-->

        <!--<node name="camera_info_publisher" pkg="lolo_perception"-->
            <!--type="camera_info_publisher.py" />-->
    <!--</group>-->

    <!-- <group ns="/sam/perception/camera_left/">
        <param name="calibration_file" type="string"
            value="$(find lolo_perception)/camera_calibration_data/lab_calibs/camera_1.yaml"/>
        <param name="camera_link_id" type="string"
            value="/sam/camera_front_left_link"/>

        <node name="camera_info_publisher" pkg="lolo_perception"
            type="camera_info_publisher.py" />
    </group>

    <group ns="/sam/perception/camera_right">
        <param name="calibration_file" type="string"
            value="$(find lolo_perception)/camera_calibration_data/lab_calibs/camera_2.yaml"/>
        <param name="camera_link_id" type="string"
            value="/sam/camera_front_right_link"/>

        <node name="camera_info_publisher" pkg="lolo_perception"
            type="camera_info_publisher.py" />
    </group> -->

    <group ns="/sam/payload/cam_port/">
        <param name="calibration_file" type="string"
            value="$(find lolo_perception)/camera_calibration_data/lab_calibs/camera_1.yaml"/>
        <param name="camera_link_id" type="string"
            value="/sam/camera_front_left_link"/>

        <node name="camera_info_publisher" pkg="lolo_perception"
            type="camera_info_publisher.py" />
    </group>

    <group ns="/sam/payload/cam_starboard/">
        <param name="calibration_file" type="string"
            value="$(find lolo_perception)/camera_calibration_data/lab_calibs/camera_2.yaml"/>
        <param name="camera_link_id" type="string"
            value="/sam/camera_front_right_link"/>

        <node name="camera_info_publisher" pkg="lolo_perception"
            type="camera_info_publisher.py" />
    </group>

</launch>
